# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Цели исследования:

Проанализировать, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. Входные данные от банка — статистика о платёжеспособности клиентов

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [2]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [3]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [5]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [6]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [7]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [8]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [9]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [10]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [11]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [12]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [13]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [14]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру.**

In [15]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [16]:
data.duplicated().sum()

71

In [17]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [18]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [19]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [20]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [21]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [22]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [23]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
#Необходимо установить, есть ли связь между наличием долга и количеством детей у заемщика. Предположительно, доля должников будет возрастать с увеличением количества детей в виду возрастающей финансовой нагрузки, среди заемщиков без детей процент будет самым низким

In [24]:
chidren_category_pivot=data.pivot_table(index=['children'], values='debt', aggfunc={'count', 'sum'})

In [25]:
chidren_category_pivot=chidren_category_pivot.rename(columns={'count':'total', 'sum':'debt'})

In [26]:
chidren_category_pivot['share']=chidren_category_pivot['debt']/chidren_category_pivot['total']

In [27]:
chidren_category_pivot=chidren_category_pivot.sort_values(by='share')

In [28]:
chidren_category_pivot

          total  debt     share
children
5             9     0  0.000000
0         14091  1063  0.075438
3           330    27  0.081818
1          4808   444  0.092346
2          2052   194  0.094542
4            41     4  0.097561

**Вывод:** Количество заемщиков с 3-мя и более детьми составляет незначительную долю в общей выборке заемщиков, поэтому на основании этих данных невозможно установить экономическое поведение для данной категории заемщиков. Среди наиболее многочисленных групп, количество должников наименьшее среди заемщиков без детей, что подтверждает изначальную гипотезу, доля должников среди заемщиков с 1-2 детьми приблизительно одинаковая и выше, чем у заемщиков без детей, что скорее всего связано с увеличением экономической нагрузки на семью.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [29]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
#Необходимо установить, влияет ли семейный статус на наличие долга у заемщика. Предположительно, доля должников будет выше среди неженатых/незамужних заемщиков, в виду более молодого возраста, более низкого уровня дохода, уровня ответственности

In [30]:
family_category_pivot=data.pivot_table(index=['family_status'], values='debt', aggfunc={'count', 'sum'})

In [31]:
family_category_pivot=family_category_pivot.rename(columns={'count':'total', 'sum':'debt'})

In [32]:
family_category_pivot['share']=family_category_pivot['debt']/family_category_pivot['total']

In [33]:
family_category_pivot=family_category_pivot.sort_values(by='share')

In [34]:
print(family_category_pivot)

                       total  debt     share
family_status
вдовец / вдова           951    63  0.066246
в разводе               1189    84  0.070648
женат / замужем        12261   927  0.075606
гражданский брак        4134   385  0.093130
Не женат / не замужем   2796   273  0.097639

**Вывод:** Гипотеза о более высоком уровне должников среди неженатых/незамужних заемщиков подтвердилась, также высокий уровень должников среди заемщиков с семейным статусом "гражданский брак" подтверждает предположение о более высоком риске долга среди людей, которые ранее не вступали в брак, при этом низкий уровень задолженностей в категории вдовец / вдова указывает на то, что в эту категорию попадают более взрослые клиенты со стабильным доходом или накоплениями

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [35]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
#Необходимо установить, существует ли связь между уровнем дохода и наличием долга по кредиту. Препололагается, что с увеличением дохода доля должников будет снижаться

In [59]:
def income_group(income):
    if income=='A':
        return '>= 1000001'
    elif income=='B':
        return '200001-1000000'
    elif income=='C':
        return '50001-200000'
    elif income=='D':
        return '30001-50000'
    elif income=='E':
        return '0-30000'

In [61]:
data['income_group'] = data['total_income_category'].apply(income_group)

In [63]:
income_category_pivot=data.pivot_table(index=['total_income_category', 'income_group'], values='debt', aggfunc={'count', 'sum'})

In [64]:
income_category_pivot=income_category_pivot.rename(columns={'count':'total', 'sum':'debt'})

In [65]:
income_category_pivot['share']=income_category_pivot['share']=income_category_pivot['debt']/income_category_pivot['total']

In [66]:
income_category_pivot=income_category_pivot.sort_values(by='share')

In [67]:
income_category_pivot

                                      total  debt     share
total_income_category income_group
D                     30001-50000       349    21  0.060172
B                     200001-1000000   5014   354  0.070602
A                     >= 1000001         25     2  0.080000
C                     50001-200000    15921  1353  0.084982
E                     0-30000            22     2  0.090909

**Вывод:** Доля заемщиков  с доходом до 50 тысяч и более 1000000 очень низкая, на основании этих данных, скорее всего, выводы и предположения об экономическом поведении данной категории заемщиков будут некорректны. Среди наиболее многочисленных групп В и С подтверждается гипотеза о том, что с увеличением дохода, доля должников будет снижаться, необходимо дополнить выборку данными о заемщиках категории А, Е, D

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [41]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
#Необходимо установить долю должников в зависимости от целей кредита, предположительно, наиболее высокий уровень должников будет среди заемов на обучение, так как скорее всего они распространены среди заемщиков без стабильного дохода

In [42]:
purpose_category_pivot=data.pivot_table(index=['purpose_category'], values='debt', aggfunc={'count', 'sum'})

In [43]:
purpose_category_pivot=purpose_category_pivot.rename(columns={'count':'total', 'sum':'debt'})

In [44]:
purpose_category_pivot['share']=purpose_category_pivot['debt']/purpose_category_pivot['total']

In [45]:
purpose_category_pivot=purpose_category_pivot.sort_values(by='share')

In [46]:
print(purpose_category_pivot)

                          total  debt     share
purpose_category
операции с недвижимостью  10751   780  0.072551
проведение свадьбы         2313   183  0.079118
получение образования      3988   369  0.092528
операции с автомобилем     4279   400  0.093480

**Вывод:** гипотеза о более высоком уровне задолженностей на образование подтвердилась, также высокий уровень кредитов на проведение операций с автомобилем возможно также связанный с распространением данного типа кредита среди молодых людей без стабильного дохода

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* Данные могли не заполнить студенты, у которых не было официального трудоустройства и официального дохода. 
Безработные и пенсионеры могли пропустить заполнение, так как не имеют дохода и работы на данный момент, а при заполнении информации не очевидно, что нужно указывать предыдущий опыт
количество пропусков в столюце стажа и дохода одинаковое, скорее всего, заполнение одного столбца связано с другим
Стаж работы рассчитывается автоматически по введенным датам, формат ввода был некорректный

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* Медианное значение лучше отражает реальные данные, так как в большой выборке возможно присутствие аномальных выбросов, которые не скажутся на медианном значении

### Шаг 4: общий вывод.

- В работе были проанализированы данные о заемщиках банка в части их уровня дохода, образования семейного статуса, профессии и целей кредита. В изначальной таблице данных был выявлен и обработан высокий процент пропущенных и аномальных значений в столбце стаж "days_employed". Скорее всего, он вычисляется автоматически при заполнее дат трудовой деятельности, необходимо при заполнении формы установить правило на формат введения данных, чтобы исключить или минимизировать некорректно заполенные ячейки. На основании одинакого количества пропусков в столбцах стажа и дохода можно предположить, что их заполнение взаимосвязано, что нарушает структуру данных, так как информация об уровне дохода является ключевой для оценки риска возникновения долга, тогда как данные трудового стажа не играют определяющей роли. 
- Для оценки влияния различных факторов на риск возникновения долга по заему были оценены зависимости процента должников от количества детей, уровня дохода, семейного статуса и целей кредита. 
- Установлено, что отсутствие детей немного снижает риск возникновения долга, для заемщиков с 1-2 детьми уровень должников одинаковый. При этом в выборке представлены немногочисленные данные по заемщикам из многодетных семей, что не позволяет установить, каким будет выполнение долговых обязательств для этой категории заемщиков. Необходимо дополнить выборку заемщиками с количеством детей от 3-х и более для более точной проверки. 
- При оценке зависимости доли должников от дохода установлено, что у людей с доходом выше среднего (более 200 тыс. рублей) доля долгов ниже, чем у заемщиков со средним доходом (50-200 тыс. руб), при этом данные о заемщиках с доходом менее 50 тыс рублей и с высоким доходом более 1 млн. рублей очень немногочислены, что не позволяет установить коррелляцию между уровнем доходам и риском возникновения долга для данной категории заемщиков, необходимо расширить выборку заемщиков в данных категориях.
- Выявлено, что семейный опыт благополучно влияет на экономическое поведение заемщиков, доля долгов среди женатых/замужних и разведенных людей ниже, чем у холостых, при этом наиболее низкий процент долго среди вдов/вдовцов, вероятно, ввиду более зрелого возраста, отвественного  отношения к финансам и более стабильного уровня дохода
- По целям кредита наиболее низкий риск возникновения задолженностей среди кредитов на недвижимость, что скорее всего связано с наиболее осознанным принятием решения о дорогой покупке, также с более детальной проверкой заемщиков перед выдачей кредита на приобретение недвижимости, высокими штрафными санкциями в случае просрочки данного типа кредита. Также наиболее низкая доля долгов на проведение свадеб, что скорее всего, связано с небольшими суммами на проведение этого мероприятия. Наиболее высокий риск возникновения долга среди кредитов на образование и автомобили, что предположительно связано с нестабильным уровнем дохода заемщиков, а также низким порогом проверки заемщиков для получения данного вида кредитов.